<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>0.0.1</string>
	<key>category</key>
	<string>Productivity</string>
	<key>connections</key>
	<dict>
		<key>1E817040-44F2-45E5-92B1-78D552BC10A3</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E13D173-B54C-4113-BC97-822A51977A4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>228750F9-D283-40D1-B09F-93C80911C868</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>5343066C-C222-46B4-B013-AE33BE396713</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>2CE06F60-F11A-4590-9D9B-746B1DF21A04</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E817040-44F2-45E5-92B1-78D552BC10A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3DE67E6A-0E58-40C8-9720-000B41222200</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Show in Browser</string>
			</dict>
		</array>
		<key>3DE67E6A-0E58-40C8-9720-000B41222200</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E13D173-B54C-4113-BC97-822A51977A4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>58A09C85-AA7A-48BB-8CC6-F3ECA65E432A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E13D173-B54C-4113-BC97-822A51977A4D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>764508F5-5780-46DC-90CD-1EEC82BE7452</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E817040-44F2-45E5-92B1-78D552BC10A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3DE67E6A-0E58-40C8-9720-000B41222200</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Show in Browser</string>
			</dict>
		</array>
		<key>ACD8117F-82C9-4665-B13C-6C6F585F2F16</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E817040-44F2-45E5-92B1-78D552BC10A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3DE67E6A-0E58-40C8-9720-000B41222200</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Show in Browser</string>
			</dict>
		</array>
		<key>C711834B-2A95-477C-9AEE-B9344D38FC23</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>58A09C85-AA7A-48BB-8CC6-F3ECA65E432A</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>759F2B01-5583-4B0F-8F5E-6F74E40037D9</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Will open the Dev Token page for ya.</string>
			</dict>
		</array>
		<key>E9287309-7561-4BCF-A4CA-CF4113D451DD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1E817040-44F2-45E5-92B1-78D552BC10A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>3DE67E6A-0E58-40C8-9720-000B41222200</string>
				<key>modifiers</key>
				<integer>1048576</integer>
				<key>modifiersubtext</key>
				<string>Show in Browser</string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shaoshing Lee</string>
	<key>description</key>
	<string>Search Evernote Notes</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Search Evernote</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>es</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin:$PATH

node app.js "search" "{query}"</string>
				<key>title</key>
				<string>Search Evernote</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>764508F5-5780-46DC-90CD-1EEC82BE7452</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin:$PATH

open `node app.js "get-link" "app" "{query}"` || echo "Unable to open note."</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>1E817040-44F2-45E5-92B1-78D552BC10A3</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>es-recent</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin:$PATH

node app.js "search" "updated:day-7"</string>
				<key>title</key>
				<string>Show Recntely Updated Notes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>E9287309-7561-4BCF-A4CA-CF4113D451DD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>es-todos</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin:$PATH

node app.js "search" "todo:false"</string>
				<key>title</key>
				<string>Show Notes that contain pending TODOs</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>2CE06F60-F11A-4590-9D9B-746B1DF21A04</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>es-new</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin:$PATH

node app.js "search" "created:day-14"</string>
				<key>title</key>
				<string>Show Recntely Created Notes</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>ACD8117F-82C9-4665-B13C-6C6F585F2F16</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin:$PATH

open `node app.js "get-link" "www" "{query}"` || echo "Unable to open note."</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3DE67E6A-0E58-40C8-9720-000B41222200</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>127</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin:$PATH

node app.js "token" "{query}"</string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>58A09C85-AA7A-48BB-8CC6-F3ECA65E432A</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>{query}</string>
				<key>title</key>
				<string>Search Evernote</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>1E13D173-B54C-4113-BC97-822A51977A4D</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>es-token</string>
				<key>subtext</key>
				<string>[press CMD] or go to the page to create your Dev Token.</string>
				<key>text</key>
				<string>Paste your Evernote Dev Token here.</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>C711834B-2A95-477C-9AEE-B9344D38FC23</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://www.evernote.com/api/DeveloperToken.action</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>759F2B01-5583-4B0F-8F5E-6F74E40037D9</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>keyword</key>
				<string>es-help</string>
				<key>text</key>
				<string>Show Evernote Search Grammar.</string>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.keyword</string>
			<key>uid</key>
			<string>228750F9-D283-40D1-B09F-93C80911C868</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>https://dev.evernote.com/doc/articles/search_grammar.php</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>5343066C-C222-46B4-B013-AE33BE396713</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>es</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>1</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>script</key>
				<string>export PATH=/usr/local/bin:$PATH

node app.js "search" "{query}"</string>
				<key>title</key>
				<string>Search Evernote</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>593B469B-6513-4F3F-9CCA-F4ABD9FD8534</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>escaping</key>
				<integer>127</integer>
				<key>keyword</key>
				<string>es-search-shortcut-template</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>script</key>
				<string># How to create a new shortcut
# 
# 1. Replace 'your-query' with your own search query.
# 2. Update 'Keyword' and 'Placeholder Title'.
# 3. Link the new command to the top most '/bin/bash' action.

export PATH=/usr/local/bin:$PATH

node app.js "search" "your-query"</string>
				<key>title</key>
				<string>Template to create new Search Shortcut</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>FA4E35D9-BA8D-4ADC-8270-B764C22877B7</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>1E13D173-B54C-4113-BC97-822A51977A4D</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>1E817040-44F2-45E5-92B1-78D552BC10A3</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>228750F9-D283-40D1-B09F-93C80911C868</key>
		<dict>
			<key>ypos</key>
			<real>610</real>
		</dict>
		<key>2CE06F60-F11A-4590-9D9B-746B1DF21A04</key>
		<dict>
			<key>ypos</key>
			<real>230</real>
		</dict>
		<key>3DE67E6A-0E58-40C8-9720-000B41222200</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>5343066C-C222-46B4-B013-AE33BE396713</key>
		<dict>
			<key>ypos</key>
			<real>720</real>
		</dict>
		<key>58A09C85-AA7A-48BB-8CC6-F3ECA65E432A</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>593B469B-6513-4F3F-9CCA-F4ABD9FD8534</key>
		<dict>
			<key>ypos</key>
			<real>730</real>
		</dict>
		<key>759F2B01-5583-4B0F-8F5E-6F74E40037D9</key>
		<dict>
			<key>ypos</key>
			<real>600</real>
		</dict>
		<key>764508F5-5780-46DC-90CD-1EEC82BE7452</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>ACD8117F-82C9-4665-B13C-6C6F585F2F16</key>
		<dict>
			<key>ypos</key>
			<real>340</real>
		</dict>
		<key>C711834B-2A95-477C-9AEE-B9344D38FC23</key>
		<dict>
			<key>ypos</key>
			<real>490</real>
		</dict>
		<key>E9287309-7561-4BCF-A4CA-CF4113D451DD</key>
		<dict>
			<key>ypos</key>
			<real>120</real>
		</dict>
		<key>FA4E35D9-BA8D-4ADC-8270-B764C22877B7</key>
		<dict>
			<key>ypos</key>
			<real>850</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
